<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorator="masterpages/page">


    <div layout:fragment="content">


        <!-- conteudo -->
        <div class="container">


            <div class="row">

                <h1>Cadastrar Anuncio</h1>

                <div class="col-md-8">
                    <form th:action="@{/anuncio/cadastrar-anuncio-request}" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">Livro:</label>
                            <select name="idLivro" id="selectLivro" data-live-search="true"
                                    class="form-control selectpicker">
                                <option>-- Selecione --</option>

                                <option th:attr="data-book=${index.index}" th:each="l, index : ${livros}"
                                        th:text="${l.titulo}" th:value="${l.isbn}"></option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Meu livro não existe, quero adicioná-lo</label>
                            <a th:href="@{/livro/cadastrar-livro}">Adicionar um livro não existente</a>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Descrição do anúncio:</label>
                            <textarea name="descricao" class="form-control"></textarea>
                        </div>

                        <div class="form-group text-right">
                            <button class="btn btn-success btn-sm">Cadastrar anuncio</button>
                        </div>

                    </form>
                </div>
                <div class="col-md-4" id="create-anuncio-box" style="display: none;">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-responsive create-anuncio-book-view" id="selected-book-image"/>
                        </div>
                        <div class="col-md-7">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label"><b>Título:</b></label>
                                    <span class="form-control-static" id="selected-book-name"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label"><b>Autor:</b></label>
                                    <span class="form-control-static" id="selected-book-author"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label"><b>ISBN:</b></label>
                                    <span class="form-control-static" id="selected-book-isbn"></span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr/>
                            <label class="control-label"><b>Descrição:</b></label><br/>
                            <span id="selected-book-description"></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div layout:fragment="scripts">
        <script th:inline="javascript">
            /*<![CDATA[*/
            $(document).ready(function () {

                var $selectedBookImage = $("#selected-book-image");
                var $selectedBookName = $("#selected-book-name");
                var $selectedBookDescription = $("#selected-book-description");
                var $selectedBookAuthor = $("#selected-book-author");
                var $selectedBookIsbn = $("#selected-book-isbn");
                var $anuncioBox = $("#create-anuncio-box");

                $("#selectLivro").on('change', function () {
                    var optionSelected = $("option:selected", this);
                    var books = [[${livros}]];
                    console.log(books);
                    var bookListIndex = $(optionSelected).attr('data-book');

                    $selectedBookImage.attr('src', books[bookListIndex].imagem);
                    $selectedBookName.html(books[bookListIndex].titulo);
                    $selectedBookDescription.html(books[bookListIndex].descricao);
                    $selectedBookAuthor.html(books[bookListIndex].autor);
                    $selectedBookIsbn.html(books[bookListIndex].isbn);
                    $anuncioBox.show();
                });
            });
            /*]]>*/
        </script>
    </div>

</div>