<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorator="masterpages/page">


    <div layout:fragment="content">

        <h1>Cadastrar Anuncio</h1>

        <!-- conteudo -->
        <div class="container">

            <form th:action="@{/anuncio/cadastrar-anuncio-request}" enctype="multipart/form-data" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label">Livro:</label>
                    <select name="livro" class="form-control">
                        <option>-- Selecione --</option>
                        <optgroup>
                            <option th:each="l : ${livros}" th:text="${l.titulo}" th:value="${l.isbn}"></option>
                        </optgroup>

                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Descrição:</label>
                    <textarea name="descricao" class="form-control"></textarea>
                </div>

                <div class="form-group text-right">
                    <button class="btn btn-success btn-sm">Cadastrar anuncio</button>
                </div>

            </form>

        </div>
    </div>


</div>