<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorator="masterpages/page">


    <div layout:fragment="content">
        <!-- conteudo -->
        <h4>Últimos Anúncios</h4>
        <hr/>


        <div th:replace="fragments/layout/book-grid :: book-grid(anuncios=${anuncios})"></div>


        <!-- conteudo -->
        <h4>Mais Avaliados</h4>
        <hr/>

        <div th:replace="fragments/layout/book-grid :: book-grid(anuncios=${anunciosMaisAvaliados})"></div>

    </div>


</div>