<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorator="masterpages/page">


    <div layout:fragment="content">
        <!-- conteudo -->
        <h4>Últimos Anúncios</h4>
        <hr/>


        <div th:replace="fragments/layout/book-grid :: book-grid(anuncios=${anuncios})"></div>


        <!-- conteudo -->
        <h4>Mais Avaliados</h4>
        <hr/>

        <div th:replace="fragments/layout/book-grid :: book-grid(anuncios=${anuncios})"></div>

    </div>

    <div class="">
        <h4>Recomendamos pra você</h4>
        <hr/>

        <div class="row">

            <div class="col-sm-2">
                <article class="col-item">
                    <div class="photo">
                        <a href="detalhe-livro.html"> <img
                                src="https://images-na.ssl-images-amazon.com/images/I/514pRuA7fvL._SX339_BO1,204,203,200_.jpg"/>
                        </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-12">
                                <h1>Naruto Volume 72</h1><br/>
                                <div class="details">
                                    <i class="fa fa-user"></i> Luis Rosti
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-sm btn-outline-primary"><i
                                            class="fa fa-commenting"></i> </a>
                                    <a href="#" class="btn btn-sm btn-outline-info"><i
                                            class="fa fa-info-circle"></i> Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-sm-2">
                <article class="col-item">
                    <div class="photo">
                        <a href="detalhe-livro.html"> <img
                                src="https://images-na.ssl-images-amazon.com/images/I/51aFB-xXtTL._SX340_BO1,204,203,200_.jpg"/>
                        </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-12">
                                <h1>Naruto Volume 25</h1><br/>
                                <div class="details">
                                    <i class="fa fa-user"></i> Luis Rosti
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-sm btn-outline-primary"><i
                                            class="fa fa-commenting"></i> </a>
                                    <a href="#" class="btn btn-sm btn-outline-info"><i
                                            class="fa fa-info-circle"></i> Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-sm-2">
                <article class="col-item">
                    <div class="photo">
                        <a href="detalhe-livro.html"> <img
                                src="https://images-na.ssl-images-amazon.com/images/I/51-mD8I%2B1nL._SX327_BO1,204,203,200_.jpg"/>
                        </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-12">
                                <h1>Naruto Gold Volume 3</h1><br/>
                                <div class="details">
                                    <i class="fa fa-user"></i> Luis Rosti
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-sm btn-outline-primary"><i
                                            class="fa fa-commenting"></i> </a>
                                    <a href="#" class="btn btn-sm btn-outline-info"><i
                                            class="fa fa-info-circle"></i> Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-sm-2">
                <article class="col-item">
                    <div class="photo">
                        <a href="detalhe-livro.html"> <img
                                src="https://images-na.ssl-images-amazon.com/images/I/61mcBpif44L._SX341_BO1,204,203,200_.jpg"/>
                        </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-12">
                                <h1>Naruto Gaiden</h1><br/>
                                <div class="details">
                                    <i class="fa fa-user"></i> Luis Rosti
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-sm btn-outline-primary"><i
                                            class="fa fa-commenting"></i> </a>
                                    <a href="#" class="btn btn-sm btn-outline-info"><i
                                            class="fa fa-info-circle"></i> Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-sm-2">
                <article class="col-item">
                    <div class="photo">
                        <a href="detalhe-livro.html"> <img
                                src="https://images-na.ssl-images-amazon.com/images/I/61CP-80PwxL._SX341_BO1,204,203,200_.jpg"/>
                        </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-12">
                                <h1>Naruto Volume 70</h1><br/>
                                <div class="details">
                                    <i class="fa fa-user"></i> Luis Rosti
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-sm btn-outline-primary"><i
                                            class="fa fa-commenting"></i> </a>
                                    <a href="#" class="btn btn-sm btn-outline-info"><i
                                            class="fa fa-info-circle"></i> Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="col-sm-2">
                <article class="col-item">
                    <div class="photo">
                        <a href="detalhe-livro.html"> <img
                                src="https://images-na.ssl-images-amazon.com/images/I/51YVkp1hopL._SX337_BO1,204,203,200_.jpg"/>
                        </a>
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price-details col-md-12">
                                <h1>Naruto Gold 8</h1><br/>
                                <div class="details">
                                    <i class="fa fa-user"></i> Luis Rosti
                                </div>
                                <div class="text-center">
                                    <a href="#" class="btn btn-sm btn-outline-primary"><i
                                            class="fa fa-commenting"></i> </a>
                                    <a href="#" class="btn btn-sm btn-outline-info"><i
                                            class="fa fa-info-circle"></i> Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <hr/>
        <div class="text-center">
            <a href="#" class="btn btn-sm btn-outline-success">Ver Mais</a>
        </div>
    </div>


</div>