<div xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorator="masterpages/page">

    <div layout:fragment="content">
        <div class="container">
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6" >
                    <form role="form" th:action="@{/login}" method="post">
                        <h2>Acessar
                            <small>use seus dados de acesso</small>
                        </h2>
                        <hr class="colorgraph"/>
                        <div class="form-group">
                            <input type="text" name="username" id="username" class="form-control input-lg"
                                   placeholder="usuario" value=""/>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="password" class="form-control input-lg"
                                   placeholder="senha" value=""/>
                        </div>


                        <hr class="colorgraph"/>
                        <div class="row">
                            <div class="col-xs-12 col-md-6"><input type="submit" value="Acessar"
                                                                    class="btn btn-primary btn-block btn-lg" /></div>
                        </div>
                    </form>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6">
                    <form role="form" th:action="@{/usuario/cadastrar-usuario/}" method="get">
                        <h2>Cadastre-se
                        </h2>
                        <hr class="colorgraph"/>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="nome" id="nome" class="form-control input-lg"
                                           placeholder="Nome" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="sobrenome" id="sobrenome" class="form-control input-lg"
                                           placeholder="Sobrenome" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="form-group">
                                    <input type="date" name="dataNascimento" id="datanascimento" class="form-control input-lg"
                                           placeholder="Data de Nascimento" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="username" id="username_" class="form-control input-lg"
                                   placeholder="usuario" />
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control input-lg"
                                   placeholder="email" />
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="senha" id="senha" class="form-control input-lg"
                                           placeholder="senha" />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="senhaconfirmacao" id="senhaconfirmacao"
                                           class="form-control input-lg" placeholder="confirmar senha" />
                                </div>
                            </div>
                        </div>

                        <hr class="colorgraph"/>
                        <div class="row">
                            <div class="col-xs-12 col-md-6"><input type="submit" value="Registrar"
                                                                   class="btn btn-primary btn-block btn-lg"
                                                                   /></div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>