<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
<!-- header-section-starts -->
<!--th:fragment="header"-->
<header th:fragment="book-grid">

    <div class="row">
        <div class="col-sm-2" th:each="anuncio : ${anuncios}">
            <article class="col-item">
                <div class="photo">
                    <a th:href="@{/livro/detalhe-livro(id=${anuncio.id})}">
                        <img th:src="${anuncio.livro.imagem}"
                             class="img-responsive" alt="Product Image"/> </a>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="price-details col-md-12">
                            <a style="color: #7e4f2f;" th:href="@{/livro/detalhe-livro(id=${anuncio.id})}"><h1 th:text="${anuncio.livro.titulo}"></h1></a><br/>
                            <div class="details" style="margin-top:">
                                <a th:href="@{/usuario/cadastro(username=${anuncio.anunciante.username})}" th:text="${anuncio.anunciante.username}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-md-12" th:if="${#lists.isEmpty(anuncios)}">
            <div class="well">
                Nenhum anúncio cadastrado
            </div>
        </div>
    </div>

    <hr/>

</header>

<!-- header-section-ends -->
</body>
</html>