<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
<!-- header-section-starts -->
<!--th:fragment="header"-->
<header th:fragment="header">

    <div class="header">
        <nav class="navbar navbar navbar-expand-lg">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" style="width: 70%;">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}"><span class="fa fa-home"></span> Página Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/livro/meus-livros}"><span class="fa fa-book"></span> Meus Livros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/mensagem/mensagens}"><span class="fa fa-commenting-o"></span> Mensagens</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto">
                        <!--<li class="nav-item">-->
                            <!--<a class="nav-link" th:href="@{/usuario/meu-cadastro}"><span class="fa fa-user"></span> Meu-->
                                <!--'tro</a>-->
                        <!--</li>-->
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login?logout}"><span class="fa fa-power-off"></span> Sair</a>
                        </li>
                    </ul>
                </div>


            </div>
        </nav>


        <div class="container">
            <div class="row">
                <div class="col-md-4 text-right phrase-header">O lugar ideal para</div>
                <div class="col-md-4 col-xs-12 text-center">
                    <div class="logo">
                        <a th:href="@{/}"><img th:src="@{../imgs/logo.png}" width="180" height="180"/></a>
                    </div>
                </div>
                <div class="col-md-4 text-left phrase-header">apreciar uma boa leitura</div>
            </div>
        </div>


        <div class="header-search">
            <form th:action="@{/livro/busca}" class="container">
                <input type="text" name="nome" class="form-control" placeholder="Busque o livro desejado" th:value="(${param.nome != null}) ? ${param.nome[0]} : ''"  />
            </form>
        </div>


    </div>
</header>

<!-- header-section-ends -->
</body>
</html>
